html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

html {
  font-size: 100%;
}

body {
  margin: 0;
  margin: 0 10% 0 10%;
  /* include your font family and default line-height */
}

.top-images {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "img1 img1 img1"
    "img2 img3 img4"
  ;
  gap: 1rem;
}

.img1 {
  grid-area: img1;
}

.img2 {
  grid-area: img2;
}

.img3 {
  grid-area: img3;
}

.img4 {
  grid-area: img4;
}

.wrapper {
  /* display: grid; */
  /* grid-template-columns: 1fr 1fr 1fr; */
  /* max-width: 1400px; */
  margin: 0 auto;
}

.button {
  border: .2rem solid rgba(55, 131, 163, .4);
  color: #3783a3;
  text-decoration: none;
  padding: .5em 1em .6em;
  margin: 1.5rem 0 0 0;
  border-radius: .3rem;
  text-align: center;
  background-color: #000;
  font-weight: bold;

}

.button a {
  color: #fff;
  text-decoration: none;
}
img {
  width: 100%;
  display: block;
}

.included {
  display: grid;
  grid-template-columns: 1fr;
}

header {
  display-flex;
  flex-direction: column;
}

header nav ul {
  list-style-type: none;
  display: flex;
  gap: 1.5rem;
  justify-content: center;
}

header nav ul li a {
  color: #000;
  font-weight: bold;
  text-decoration: none;
  font-size: 1.25rem;
}

header nav ul li a:hover,
header nav ul li a:focus {
  text-decoration: underline;
}

figure {
  margin: 0 auto;
}
.browsed {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
  gap: 1rem;
  max-width: 400px;
}

.reviews {
  display: grid;
}

footer {
  text-align: center;
}


/* Default styling for all screens ends here */

/* Add media query for tablet */
@media only screen and (min-width: 38em) {

  /* .top-images {
    grid-template-columns: 4fr 1fr;
  } */
  .button {
    max-width: 50%;


  }

  .text {
    max-width: 50%;
  }

  .wrapper {
    max-width: 768px;
  }

  .reviews {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;

  }

  .top-images {
    grid-template-columns: 75% 23%;
    grid-template-areas:
      "img1 img2"
      "img1 img3"
      "img1 img4"
    ;
  }

  .included {
    grid-template-columns: 1fr 1fr;
  }

  .browsed {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    max-width: 768px;
  }

  header {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  h1 {
    align-items: start;
  }

  /* section {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  }*/

}

@media only screen and (min-width: 75em) {

  .wrapper {
    max-width: 1400px;
  }

  .browsed {
    max-width: 1400px;
  }

}

/* Add media query for desktop */
